/* === MAIN === */

/*Estilo general para los titulos h2*/
.titulos{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 45px;
    margin-top: 10px;
    color: #2d414c ;
}

/* = Mensaje de bienvenida = */
#bienvenida p{
    text-align: center;
}

/* = Mensaje de descripcion = */
/* Estilos del titulo */
#descripcion h3{
    font-weight: bold;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 15px;
    color: #2d414c ;
}
/* Para que el texto no toque las paredes*/
#descripcion p{
    padding: 15px;
}
/* Estilos del enlace y hover */
#descripcion a{
    text-decoration: none;
    color: #2d414c;
}
#descripcion a:hover{
    color: #009a00;
}
    

/* = Carrusel + titulo = */
/* Para achicar el carrusel*/
#carrusel {
    padding: 25px;
}

/* = Cards carreras = */
/* Para separar las cartas*/
.col{
    padding: 10px;
}